*.egg-info
*.mo
*.pyc
*.pyo
*#*
*~
/.coverage
/.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.mxmake/
/.project
/.pydevproject
/bin/
/build
/constraints-mxdev.txt
/coverage/
/develop-eggs/
/dist/
/downloads/
/eggs/
/htmlcov/
/karma/
/lib/
/lib64
/node_modules/
/package-lock.json
/parts/
/pyvenv.cfg
/requirements-mxdev.txt
/scripts/
/share/
/sources/
/var/
/venv/
pnpm-lock.yaml
