*#*
*.egg-info
*.mo
*.pyc
*.pyo
*~
/.DS_Store
/.coverage
/.installed.cfg
/.mr.developer.cfg
/.mxmake/
/.project
/.pydevproject
/build/
/constraints-mxdev.txt
/coverage/
/dist/
/htmlcov/
/node_modules/
/package-lock.json
/pnpm-lock.yaml
/pyvenv.cfg
/requirements-mxdev.txt
/sources/
/venv/
